/*Hospital navbar*/

#hospitalNav #navbar-brand1 {
    position: relative; top: -10px; color: black; font-family:Helvetica;
}

#hospitalNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}

#hospitalNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}

#hospitalNav #navbarResponsive .nav-link{
    position: relative; left: -10px;
    margin-top: 4px;
}

#hospitalNav #hospital{
    margin-left: 1px; 
    margin-top: 12px; 
}
/*--------------------------------------------------------------------*/
#userNav #navbar-brand1 {
    position: relative; top: -10px; color: black; font-family:Helvetica;
}

#userNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}

#userNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}
/*--------------------------------------------------------------------*/
/*Blood bank navbar*/

#bloodbankNav #navbar-brand1{
    position: relative; top: -10px; color: black; font-family:Helvetica;
}
#bloodbankNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}
#bloodbankNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}
#bloodbankNav #navbarResponsive .nav-link{
    position: relative; left: -20px;
}

#bloodbankNav #help{
    position: relative; left: -20px;
}

#bloodbankNav #icon{
    position: relative; top: 5px; left: 1px;
}

/*--------------------------------------------------------------------*/

#homeHeader #navbar-brand1{
    position: relative; top: -10px; color: black; font-family:Helvetica;
}
#homeHeader #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}
#homeHeader #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}
#homeHeader #navbarResponsive .nav-link{
    position: relative; left: -20px;
}

#homeHeader #help{
    position: relative; left: -20px;
}

#homeHeader #icon{
    position: relative; top: 5px; left: 1px;
}