/*Hospital navbar*/

#hospitalNav #navbar-brand1 {
    position: relative; top: -10px; color: black; font-family:Helvetica;
}

#hospitalNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}

#hospitalNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}

#hospitalNav #navbarResponsive .nav-link{
    position: relative; left: -10px;
    margin-top: 4px;
}

#hospitalNav #hospital{
    margin-left: 1px; 
    margin-top: 12px; 
}
/*--------------------------------------------------------------------*/
#userNav #navbar-brand1 {
    position: relative; top: -10px; color: black; font-family:Helvetica;
}

#userNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}

#userNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}
/*--------------------------------------------------------------------*/
/*Blood bank navbar*/

#bloodbankNav #navbar-brand1{
    position: relative; top: -10px; color: black; font-family:Helvetica;
}
#bloodbankNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}
#bloodbankNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}
#bloodbankNav #navbarResponsive .nav-link{
    position: relative; left: -20px;
    margin-top: 4px;
}
#bloodbankNav #dropdown{
    margin-left: 15px;
    margin-top: 3px;
}
/*-------------------------------Home header------------------------------------*/

#homeHeader{
    background-color: white;
}

#homeHeader #navbar-brand1{
    position: relative; top: -10px; color: black; font-family:Helvetica;
}
#homeHeader #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}
#homeHeader #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}
#homeHeader #navbarResponsive .nav-link{
    position: relative; left: -20px;
}

#homeHeader #help{
    position: relative; left: -20px;
}
/* ***********************User header********************* */
#userNav #navbar-brand1 {
    position: relative; top: -10px; color: black; font-family:Helvetica;
}

#userNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}

#userNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}

#userNav #navbarResponsive .nav-link{
    position: relative; left: -20px;
}
#userNav .userIcon{
    position: relative; 
    top: 2px; 
    left: 1px;
}
#userNav #userName{
    margin-left: 8px;
    margin-top: 13px;
}
#userNav #navbarResponsive .nav-link{
    position: relative; 
    left: -10px;
    margin-top: 4px;
}

/* ************************SuperVision header********************************** */
#superVisionNav #navbar-brand1 {
    position: relative; top: -10px; color: black; font-family:Helvetica;
}

#superVisionNav #navbar-brand2{
    position: relative; top: 10px; right: 50px; color: #C31313; font-family:Helvetica;
}

#superVisionNav #navbar-brand3{
    position: relative; top: 10px; right: 60px; color:black; font-family:Helvetica;
}

#superVisionNav #navbarResponsive .nav-link{
    position: relative; left: -20px;
}
#superVisionNav .superVisionIcon{
    position: relative; 
    top: 2px; 
    left: 1px;
}
#superVisionNav #superVisionName{
    margin-left: 8px;
    margin-top: 13px;
}
#superVisionNav #navbarResponsive .nav-link{
    position: relative; 
    left: -10px;
    margin-top: 4px;
}