/*blood bank options*/

#BBcarouselMultiItemExample .carousel-inner{
    position: relative;
    top: 80px;
}
#BBcarouselMultiItemExample #newDonation{
    position: relative; height: 300px;
}
#BBcarouselMultiItemExample #trackBlood{
    position: relative; height: 600px;
}
#BBcarouselMultiItemExample #sendBag{
    position: relative; height: 900px;
}


/*----------------------------------------------*/