
.RetrieveAllBloodBags .demo{ font-family: 'Noto Sans', sans-serif; }
.RetrieveAllBloodBags .card{
  text-align: center;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 80px;
  margin-left: -200px;
  font-size: large;
  width: 140%;
}

.RetrieveAllBloodBags .card .card-header{
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  color: #C31313;
  font-size: 25px;
  font-weight: bold;
}
.RetrieveAllBloodBags .card .card-body .table{
  border-bottom: 1px solid #ddd;
  border:1px solid black;
}

.RetrieveAllBloodBags .filter{
  padding-right: 40px;
  padding-left: 40px;
}

.RetrieveAllBloodBags .userTrackIcon{
  margin-right: 110px;
}